.DS_Store
__pycache__/
*.pyc

.omc/
.omx/
.claude/
.codex/
.zcode/

/.mulgae/*
!/.mulgae/config.yaml

.gaori/*
!.gaori/tester.yaml
!.gaori/tester/
.gaori/tester/*
!.gaori/tester/rules/
.gaori/tester/rules/*
!.gaori/tester/rules/*.yaml
